@{ 
    ViewBag.Title = "Employee Index";
}

<div class="container mt-3">
    <div class="row">
        <button class="btn btn-primary m-auto" data-toggle="modal" data-target="#insertModal">Create New</button>
    </div>
    <div class="row offset-2 col-8">
        <div class="text-left display-4 m-auto">Employees</div>
        <table id="tblItems" class="table table-striped text-center mt-3">
            <thead>
                <tr class="table-info">
                    <td class="font-weight-bold">
                        <button id="sortByName" class="btn btn-block btn-warning">
                            <p class="pr-3 d-inline">Name</p><span class="fa fa-arrow-up pr-1"></span><span class="fa fa-arrow-down"></span>
                        </button>
                        <div class="input-group-append">
                            <input id="txtSearchName" type="text" class="form-control" placeholder="Search Name" style="border-bottom-right-radius:0; border-top-right-radius:0" />
                            <button id="searchName" class="fa fa-search btn btn-light"></button>
                        </div>
                    </td>
                    <td class="font-weight-bold">
                        <button id="sortByEmail" class="btn btn-block btn-warning mr-3"><p class="pr-3 d-inline">Email</p><span class="fa fa-arrow-up pr-1"></span><span class="fa fa-arrow-down"></span></button>
                        <div class="input-group-append">
                            <input id="txtSearchEmail" type="text" class="form-control" placeholder="Search Email" style="border-bottom-right-radius:0; border-top-right-radius:0" />
                            <button id="searchEmail" class="fa fa-search btn btn-light"></button>
                        </div>
                    </td>
                    <td colspan="2" class="font-weight-bold">Actions</td>
                </tr>
            </thead>
            <tbody id="tblBody"></tbody>
        </table>
    </div>
</div>
